// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
/* paleta de colores
#E0D8B0
#FCFFE7
#DEA057
#CE9461 */

@font-face {
  font-family: Bebas;
  src: url(/assets/fonts/bebas-neue.regular.woff);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fcffe7;
}
.main {
  margin-top: 16vh;
  background: #de943d;
  background: linear-gradient(180deg, #de943d 0%, #deaf77 100%);
}

h1 {
  font-family: Bebas;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px;
  color: #fcffe7;
}
h2 {
  font-size: 1rem;
  font-style: italic;
}
/* fin estilos generales */

/* main home */
.main__principal-img {
  box-shadow: 10px 10px 15px #c3b0a0;
}

/* main jobs */
.img__jobs {
  height: 100px;
}
.img__jobs--murales {
  height: 166px;
}
.img__jobs:hover,
.img__jobs--murales:hover {
  transform: scale(1.5);
  box-shadow: 10px 10px 15px #ebe1d8, -10px -10px 15px #ebe1d8;
  transition: all 5s;
}

/* main faqs */
.main__faqs--question {
  font-weight: 900;
}

.main__faqs--response {
  padding-left: 1em;
  font-weight: 500;
  font-style: italic;
}

/* main contact */
// .main__contact__form--title {
//   color: #fcffe7;
// }

.main__contact__form label {
  display: none;
}

.main__contact__form input,
select {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
}

// .main__contact__form input.reset,
// .main__contact__form input.submit {
// }
/* Fin del main */
