// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
/* paleta de colores
#E0D8B0
#FCFFE7
#DEA057
#CE9461 */

@font-face {
  font-family: Bebas;
  src: url(/assets/fonts/bebas-neue.regular.woff);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fcffe7;
}
.main {
  margin-top: 16vh; 
  background: #de943d;
  background: linear-gradient(180deg, #de943d 0%, #deaf77 100%);
}

h1 {
  font-family: Bebas;
  // font-size: 2.5rem;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px;
  color: #fcffe7;
}
/* fin estilos generales */

/* main home */
.img-principal{
  box-shadow: 10px 10px 15px #c3b0a0;
}
// .main__home__div-img,
// .main__home__div-vid,
// .main__home__div-clientes {
//   text-align: center;
//   padding-bottom: 0.3em;
// }

// .main__home__div-img {
//   width: 63%;
// }

// .main__home__div-img--img {
//   width: 100%;
//   border-radius: 60px;
//   box-shadow: -10px -10px 15px #c3b0a0;
// }

// .main__home__div-vid--video {
//   width: 70%;
// }

// .main__home__div-clientes {
//   display: flex;
//   flex-direction: column;
// }

// .main__home__div-clientes--title {
//   text-align: center;
//   font-size: 1rem;
//   color: #fcffe7;
// }

/* main us */
.main__us__container {
  position: relative;
  height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: auto;
}

/* main jobs */
.main__jobs__container,
.main__faqs__container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.main__jobs__container--cuadros,
.main__jobs__container--tripticos,
.main__jobs__container--murales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main__jobs__container--murales {
  justify-content: center;
}

.main__jobs__container--subtitles {
  font-size: 1rem;
}

.img__jobs {
  width: 160px;
  padding: 0.3em;
}

.main__jobs__container--tripticos img {
  height: 94.29px;
}

.img__jobs--murales {
  height: 166px;
  padding: 0.3em 0.3em 1em;
}

// /* main faqs */
.main__faqs__container h2 {
  font-size: 1rem;
  font-style: italic;
}

.main__faqs__container--question,
.main__faqs__container--response {
  padding-top: 0.5em;
  font-size: 1rem;
}

.main__faqs__container--question {
  font-weight: 900;
}

.main__faqs__container--response {
  padding-left: 1em;
  font-weight: 500;
  font-style: italic;
}

/* main contact */
.main__contact {
  min-height: min-content;
}

.main__contact__form {
  position: relative;
  margin: 15px auto;
  padding: 1em 0;
  width: 55vw;
  background-image: url(/assets/images/img_001.jpg);
}

.main__contact__form--title {
  color: #fcffe7;
  font-weight: bold;
  padding-bottom: 1em;
  text-align: center;
}

#formulario {
  padding: 0 0.5em;
}

.main__contact__form label {
  display: none;
}

.main__contact__form input,
select {
  display: block;
  width: 189.5px;
  margin: 0.5em 0;
  font-weight: bold;
}

.main__contact__form textarea {
  width: 189.5px;
  height: 180px;
}

.main__contact__form input.reset,
.main__contact__form input.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 189.5px;
}
/* Fin del main */
