/* main faqs */
.main__faqs {
  &-title {
    @extend .shadowed-text;
    margin-top: 2rem;
    font-family: Bebas;
    letter-spacing: 3px;
  }
  &--question {
    font-weight: 900;
  }
  &--response {
    padding-left: 1em;
    font-weight: 500;
    font-style: italic;
  }
}
