/* Comienzo estilos generales */
@font-face {
  font-family: "Tempus Sans ITC";
  src: url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.eot");
  src: url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.svg#Tempus Sans ITC")
      format("svg");
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fcffe7;
}
.main {
  padding-top: 18vh;
  background-color: #f3450f;
}
.footer{
  a:hover {
    color: #ffc107;
  }
}
/* fin estilos generales */
