/* Comienzo estilos generales */
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fcffe7;
}
.main {
  padding-top: 12vh;
  background-color: #f3450f;
  @media (min-width: 992px) {
    padding-top: 18vh;
  }
}
.nav-item {
  a {
    color: #ffc107;
  }
  & a:hover {
    color: #f3450f;
  }
}
.footer {
  a:hover {
    color: #ffc107;
  }
}

.dropdown-item:hover {
  background-color: #8f1414;
}
/* fin estilos generales */
