.main__principal {
  &-title {
    @extend .shadowed-text;
    @extend .title;
  }
  &-subtitle {
    @extend .subtitle;
  }
  &__container {
    text-align: center;
    &-img {
      width: 75%;
      @include box_shadow(4);
      @media (min-width: 992px) {
        width: 100%;
      }
    }
    &-paragraph {
      font-family: "Shalimar", cursive;
      font-weight: 400;
      text-align: center;
      @extend .shadowed-text;
      @extend .paragraph;
    }
  }
}

.display__controls {
  display: none;
}
