$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000; // footer
$gris-1: #fcffe7;
$gris-2: #e0d8b0;
$marron-1: #dea057;
$marron-2: #ce9461;
$color1: #8f1414; //primary
$color2: #e50e0e; //danger
$color3: #f3450f; //neworange
$color4: #fcac03; //warning

$primary: $color1;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $color4;
$danger: $color2;
$light: $gray-100;
$dark: $gray-900;
$neworange: $color3;
$gris-1: $gris-1;
$gris-2: $gris-2;
$marron-1: $marron-1;
$marron-2: $marron-2;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "neworange": $neworange,
  "marron-1": $marron-1,
  "marron-2": $marron-2,
  "gris-1": $gris-1,
  "gris-2": $gris-2,
);

$categories: (
  "marron-1": (
    color: $dark,
    lightcolor: false,
  ),
  "gris-1": (
    color: $marron-1,
    lightcolor: true,
  ),
  "gris-2": (
    color: $gris-2,
    lightcolor: true,
  ),
);

.shadowed {
  box-shadow: 10px 10px 15px 0px rgba(195, 176, 160, 1);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(195, 176, 160, 1);
  -moz-box-shadow: 10px 10px 15px 0px rgba(195, 176, 160, 1);
}

.shadowed-text {
  text-shadow: 2px 2px 5px #000;
}

.title {
  font-family: Tempus Sans ITC;
  letter-spacing: 3px;
}
.subtitle {
  font-family: Tempus Sans ITC;
  font-size: 1.5rem;
}

.paragraph {
  font-family: Tempus Sans ITC;
  font-weight: bold;
  font-size: 1rem;
}
