$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$gris-1: #fcffe7;
$gris-2: #e0d8b0;
$marron-1: #dea057;
$marron-2: #ce9461;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
$gris-1: $gris-1;
$gris-2: $gris-2;
$marron-1: $marron-1;
$marron-2: $marron-2;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "marron-1": $marron-1,
  "marron-2": $marron-2,
  "gris-1": $gris-1,
  "gris-2": $gris-2,
);

$categories: (
  "marron-1": (
    color: $marron-1,
    lightcolor: false,
  ),
  "marron-2": (
    color: $marron-2,
    lightcolor: false,
  ),
  "gris-1": (
    color: $gris-1,
    lightcolor: true,
  ),
  "gris-2": (
    color: $gris-2,
    lightcolor: true,
  ),
);
